@import 'helper';

$carousel-nav-bg-color: #231f1fe3;

.section-offers-carousel {
    margin: 2% 10%;
    margin-bottom: 10px;
    @include home-card-box-shadow;

    @include respond(phone) {
        margin: 2% 1%;
    }
    
    .sb-carousel {
        slide {
            img.offer-img {
                display: block; 
                width: 100%; 
                height: 275px;

                @include respond(phone) {
                    width: 100%;
                    height: 20rem;
                }
            }
        }
    }
}

::ng-deep span.carousel-control-prev-icon {
    background: none;
    background-image: none;
    margin-right: 75px;
    @include respond(phone) {
       display: none;
    }
}

::ng-deep span.carousel-control-next-icon {
    background: none;
    background-image: none;
}

::ng-deep .carousel-control-prev-icon::before {
    background: none;
    content: "PREV";
    padding: 5px;
    background-color: $carousel-nav-bg-color;

    @include respond(phone) {
        content: none;
    }

}
    
::ng-deep .carousel-control-next-icon::before {
    background: none;
    content: "NEXT";
    padding: 5px;
    background-color: $carousel-nav-bg-color;

    @include respond(phone) {
        content: none;
    }
}

::ng-deep .carousel-indicators {
    
    li {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #000;
    }
  
    .active {
      opacity: 1;
    }
}
  
// #grad1 {
//     height: 3px;
//     background: radial-gradient(#000, #fbf8f8);
// }