<form class="login-form">
    <div class="input-container input--email">
        <input type="email" name="email" placeholder="Email"  id="email" class="form-control">
        <span class="label">Email</span>
    </div>
    <div class="input-container input--password">
        <input type="password" name="password" placeholder="Password" id="password" class="form-control"> 
        <span class="label">Password</span>
    </div>

    <button type="submit" class="btn btn--submit">Login</button>
</form>

