@import 'helper';

.main-container {
    display: flex;
    overflow: auto;
    width: 80%;
    margin: 0 10%;
    @include respond(phone) {
      width: 100%;
      margin: 0 1%;
    }
    
    .section-category-wrapper {
        flex: 0 0 20%;
        background-color: $aside-category-bg-color; 
        @include respond(phone) {
            display: none;
        }
        
        .category {
            font-weight: 500;
            font-size: 75%;
            margin: 1.5%;
            padding: 5%;
            color: #808080;
            border-bottom: 1px solid #cccccc;  
            cursor:pointer;
            
            &:hover,
            &:active,
            &.active {
                background-color: #ccc;
            }
        }

        .category:last-of-type {
            border-bottom: none;
        }
    }

    .products-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 80%;
        @include respond(phone) {
            flex: 0 0 100%;
        }
       
        .product-details {
            display: flex;
            flex-direction: column;
            flex: 0 0 22.35%;
            width: 30%;
            margin: 1%;
            box-shadow: 2px 0 3px -3px #888;
            border-bottom: 1px dashed darkgrey;
            @include respond(phone) {
                flex: 0 0 100%;
                flex-direction: row;
                margin: 0;
                box-shadow: none;
                position: relative;
                flex-wrap: wrap;
                padding: 1rem 1rem 0 0;
            }

            .product-details__name {
                font-weight: 600;
                height: 13%;
                margin-bottom: 1px;
                @include respond(phone) {
                    height: 2rem;
                    flex: 0 0 100%;
                    font-size: 1.5rem;
                }
            }

            .product-details__image {
                width: 100%;
                height: 40%;
                @include respond(phone) {
                    flex: 0 0 50%;
                    height: auto;
                }

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .product-details__description {
                font-size: 60%;
                font-weight: 600;
                background: #f6f6f6;
                width: 100%;
                padding: 10px;
                height: -webkit-fill-available;
                @include respond(phone) {
                    flex: 0 0 50%;
                    font-size: 1rem;
                    height: fit-content;
                }
            }

            .product-details__buy-info {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                margin-top: -6%;
                padding: 0px 5px;
                @include respond(phone) {
                    width: 48%;
                    font-size: 3rem;
                    justify-content: center;
                    position: absolute;
                    left: 22.4rem;
                    bottom: 0;
                    background-color: $theme-magenta;
                    flex-direction: row-reverse;
                 }

                .product-details__price {
                    font-size: 55%;
                    font-weight: 500;
                }
                .btn--small {
                    background-color: $theme-magenta;
                    font-size: 60%;
                    font-weight: 600;
                    color: #fff;
                    border-radius: 1px;
                }   
            }

        }
    }
}