<header class="sb-header" role="banner">
    <div class="header-container"> 
        <div class="collapsable-div">
            <a (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" 
                aria-controls="collapseBasic">
                <div id="nav-icon" [ngClass]="{'open': !isCollapsed }">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </a>
        </div>
        

        <img src="static/images/logo_2x.png" alt="sabka-bajar-logo" class="header__logo">
       
        <nav class="header-nav" role="navigation">
            <ul>
                <li  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> 
                    <a [routerLink]="['/products/home']">Home</a>
                </li>
                <li  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a [routerLink]="['/products/list']">Product</a>
                </li>
            </ul>
        </nav>

        <div class="header-nav__right">
            <div class="login-register">
                <a [routerLink]="['/user/login']">SignIn</a>
                <a [routerLink]="['/user/register']">Register</a>
            </div>
    
            <div class="cart-overview">
                <div class="cart-overview__icon">
                    <sb-cart-svg [fillColor]="cartFillColor"></sb-cart-svg>
                </div>
                <div class="cart-overview__count">
                    0 <span class="cart-text">&nbsp;items</span>
                </div>
            </div>
        </div>
        
    </div>
            
</header>

<div [collapse]="isCollapsed">
    <div class="card-header collapsable-nav">
        <nav class="header-nav" role="navigation">
            <ul>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> 
                    <a [routerLink]="['/products/home']" (click)="isCollapsed=!isCollapsed">Home</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> 
                    <a [routerLink]="['/products/list']" (click)="isCollapsed=!isCollapsed">Products</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a [routerLink]="['/user/register']" (click)="isCollapsed=!isCollapsed">Register</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> 
                    <a [routerLink]="['/user/login']" (click)="isCollapsed=!isCollapsed">Login</a>
                </li>
            </ul>
        </nav>
    </div>
</div>