@import 'helper';

.sb-header {
    @include header-botttom-box-shadow;
    margin-bottom: 1px;

    .header-container {
        display: flex;
        height: 10rem;
        width: 80%;   
        margin-left:10%;
        padding: 5px 0px 0px;

        @include respond(phone) { 
            width: 96%;
            margin: 0 2%;
            padding: 0px;
            align-items: center;
            height: 5rem;
        }

        .collapsable-div {
            display: none;

            @include respond(phone) { 
                display: block;
            }
        }

        .header__logo {
            height: 90%;

            @include respond(phone) { 
                height: 85%;
                position: relative;
                left:25%;
            }
        }
        .header-nav {
            @include respond(phone) { 
                display: none;
            }    
        }

        .header-nav__right {
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            margin-left: auto;
            justify-content: space-between;
            
            .cart-overview {
                background-color: $nav-cart-bg-color;
                width: 30%;
                height: 60%;
                display: flex;
                margin-right: 8%;
                align-items: center;
                justify-content: center;
                border-radius: 2px 2px 0px 0px;

                @include respond(phone) { 
                    height: 5rem;
                    width: 44%;
                    margin-right: -5%;
                }

                .cart-overview__icon {
                    width: 25%;
                }   

                .cart-overview__count {
                    font-size: 76%;
                    padding-right: 5px;
                    font-weight: 600;
                    @include respond(phone) { 
                        font-size: 120%;
                    }
                }
            }
           
        }

        .login-register {
            margin-left: auto;
            font-size: 75%;
            font-weight: 700;
            @include respond(phone) { 
                display: none;
            }

            a {
                padding: 5px;
                cursor: pointer;
                color: $login-register-links-color;
            }

            a:active,
            a:hover {
                transform: scale(1);
                background-color: $nav-active-bg-color;
                color: #fff;
                border-radius: 2px 2px 2px 2px;
            }

            &:first-child {
                margin-right: 16px;
            }
        }

    }   
}

.header-nav {
    align-self: flex-end;
    padding: 5px 140px;
    font-size: 75%;
    @include respond(phone) {
        padding: 0;
    }

    ul {
        list-style: none;
        margin-bottom: 0;
        @include respond(phone) { 
            display: flex;
            flex-direction: column;
        }

        li {
            display: inline-block;
            margin-right: 20px;                    
            padding: 5px;
            cursor: pointer;
            @include respond(phone) { 
                width: 100%;
                margin-right: 0px;
            }

            a {
                color: $header-nav-color;
                font-weight: 600;
                
                &:active,
                &:hover {
                    color: #fff;
                }
            }

            &:active,
            &:hover {
                transform: scale(1);
                background-color: $nav-active-bg-color;   
                border-radius: 2px 2px 2px 2px;

                @include respond(phone) { 
                    background-color: $nav-active-bg-color-light;   
                    border-radius: 2px 2px 2px 2px;

                    a {
                        color: #fff;
                    }
                }
            }

            &.active{
                @include respond(phone) { 
                    background-color: $nav-active-bg-color-light;   
                    border-radius: 2px 2px 2px 2px;
                    a {
                        color: #fff;
                    }
                }
            }
        }

    }
}

.collapsable-nav.card-header {
    position: fixed;
    height:100vh;
    width:100%;
    z-index: 100;
    background-color: $theme-grey;
    padding-left: 2px;
    padding-right: 0px;
}


// HAMBURGER ICON
#nav-icon {
    width: 36px;
    height: 27px;
    position: relative;
    margin:0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #nav-icon span {
    display: block;
    position: sticky;
    height: 4px;
    width: 100%;
    background: $btn-submit-bg-color;
    border-radius: 6px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #nav-icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  #nav-icon span:nth-child(2) {
    top: 18px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  #nav-icon span:nth-child(3) {
    top: 36px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  #nav-icon.open span:nth-child(1) {
    -webkit-transform: rotate(39deg);
    -moz-transform: rotate(39deg);
    -o-transform: rotate(39deg);
    transform: rotate(39deg);
  }
  
  #nav-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }
  
  #nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-39deg);
    -moz-transform: rotate(-39deg);
    -o-transform: rotate(-39deg);
    transform: rotate(-39deg);
  }



