<form class="register-form" [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="input-container input--fname">
        <input  autocomplete="off" type="text" formControlName="firstName" name="first Name"  placeholder="First Name"  id="first-name" class="form-control" [ngClass]="{'ng-invalid ng-touched':submitted && form.firstName?.errors}">
        <span class="label">First Name</span>
    </div>

    <div *ngIf="submitted && firstName?.errors || (firstName?.touched || firstName?.dirty)" class="error-container">
        <div class="form-error" *ngIf="firstName.errors?.required">*First name is required.</div>
        <div class="form-error" *ngIf="firstName.errors?.pattern">*Please prove valid first name.</div>
    </div>
    
    <div class="input-container input--lname">
        <input  autocomplete="off" type="email" formControlName="lastName" name="Last Name" placeholder="Last Name"  id="last-name" class="form-control" [ngClass]="{'ng-invalid ng-touched':submitted && form.lastname?.errors}">
        <span class="label">Last Name</span>
    </div>
    <div *ngIf="submitted && form.lastName?.errors || (form.lastName?.touched || form.lastName?.dirty)" class="error-container">
        <div class="form-error" *ngIf="form.lastName.errors?.required">*Last name is required.</div>
        <div class="form-error" *ngIf="form.lastName.errors?.pattern">*Please prove valid lastName name.</div>      
    </div>

    <div class="input-container input--email">
        <input  autocomplete="off" type="email" formControlName="email" name="email" placeholder="Email"  id="email" class="form-control" [ngClass]="{'ng-invalid ng-touched':submitted && form.email?.errors}">
        <span class="label">Email</span>
    </div>
    <div *ngIf="submitted && form.email?.errors || (form.email?.touched || form.email?.dirty)" class="error-container">
        <div class="form-error" *ngIf="form.email.errors?.required">*Email name is required.</div>
        <div class="form-error" *ngIf="form.email.errors?.pattern">*Please prove valid email.</div>
    </div>

    <div class="input-container input--password">
        <input  autocomplete="off" type="password" formControlName="password" name="password" placeholder="Password" id="password" class="form-control" [ngClass]="{'ng-invalid ng-touched':submitted && form.password?.errors}"> 
        <span class="label">Password</span>
    </div>
    <div *ngIf="submitted && form.password?.errors || (form.password?.touched || form.password?.dirty)" class="error-container">
        <div class="form-error" *ngIf="form.password.errors?.required">*Password is required.</div>
        <div class="form-error" *ngIf="form.password.errors?.pattern">*Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
            letter and 1 number.</div>        
    </div>
    <div class="input-container input--cnf-password">
        <input  autocomplete="off" type="password" formControlName="confirmPassword" name="confirm-password" placeholder="Confirm Password" id="confirm-password" class="form-control" [ngClass]="{'ng-invalid ng-touched':submitted && form.confirmPassword?.errors}"> 
        <span class="label">Confirm Password</span>
    </div>
    <div *ngIf="submitted && form.confirmPassword?.errors || (form.confirmPassword?.touched || form.confirmPassword?.dirty) && registerForm.hasError('notSame')" class="error-container">
        <div class="form-error" *ngIf="form.confirmPassword.errors?.required">*Confirm password is required.</div>    
        <div class="form-error" *ngIf="registerForm.hasError('notSame')">*.Confirm password should match password.</div>        
    </div>
    <button type="submit" class="btn btn--submit" [disabled]="submitted && registerForm.invalid">Sign up</button>

</form>
