@import 'helper';

.register-form {
    display: flex;
    flex-direction: column;
    width: 70%;
 
    .input-container {
        position: relative;
        margin-bottom: 10%;
    }
 
    .btn {
        color: $btn-color;
    }
 
    .btn--submit {
        border-radius: 2px;
        background-color: $btn-submit-bg-color;   
        margin: 10% 0;
        width: 142%;
    }
 
    .btn--submit:active,
    .btn--submit:hover,
    .btn--submit:visited,
    .btn--submit:focus {
        background-color: $btn-submit-bg-color-hover;  
        transform: scale(1.01);
        box-shadow: none;
        border: none;
        outline: none;
    }

    .ng-invalid.ng-touched {
        border-color: red;
    }

    .error-container {
        width: 140%;
        margin-top: -4%;
        margin-bottom: 2%;

        .form-error {
            color: #f33b3b;
            font-size: 80%;
            font-weight: 400;
            margin-bottom: 10px;
        }
    }
 }