/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,5700');
@import 'helper';

/*********** BASE ***********/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {  
    text-rendering: optimizeLegibility;
    overflow-x:hidden; 
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
    
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
}

body {
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    // padding: 3rem;
    display: flex;
    flex-direction: column;

    @include respond(tab-port) {
        padding: 0;
    }
}

*:focus {
    outline: none;
}

$input-bottom-border-color:#87ceeb;

/* --------------LINKS --------- */
a:link,
a:visited {
    text-decoration: none;
}
.form-control {
    border: none;
    border-bottom: 1px solid grey;
    border-radius: 1px;
    width: 140%; 
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border-bottom: 1.5px solid $input-bottom-border-color;    
    margin: 10px 0px;
}

.form-control:focus ~ .label {
    top: -10px;
    left: 0;
    position: absolute;
    font-weight: 500;
    font-size: 70%;
    color: $input-bottom-border-color;
}

.form-control:not(:focus) ~ .label {
    display: none;
}