$box-shadow-color: dimgrey;
$nav-active-bg-color: grey;
$nav-cart-bg-color: #efecec;
$login-register-links-color: #292929;
$header-nav-color: gray;

@mixin botttom-box-shadow {
    -webkit-box-shadow: 0px 7px 6px -9px $box-shadow-color;
	   -moz-box-shadow: 0px 7px 6px -9px $box-shadow-color;
	        box-shadow: 0px 7px 6px -9px $box-shadow-color;
}
.sb-header {
    @include botttom-box-shadow;
    margin-bottom: 1px;

    .header-container {
        display: flex;
        height: 100px;
        width: 80%;   
        margin-left:10%;
        padding: 5px 0px 0px;

        .header__logo {
            height: 90%;
        }

        .header-nav {
            align-self: flex-end;
            padding: 5px 140px;
            font-size: 75%;

            ul {
                list-style: none;
                margin-bottom: 0;

                li {
                    display: inline-block;
                    margin-right: 20px;                    
                    padding: 5px;
                    cursor: pointer;

                    a {
                        color: $header-nav-color;
                        font-weight: 600;
                        
                        &:active,
                        &:hover {
                            color: #fff;
                        }
                    }

                    &:active,
                    &:hover {
                        transform: scale(1);
                        background-color: $nav-active-bg-color;   
                        border-radius: 2px 2px 2px 2px;
                    }
                }

            }
        }

        .header-nav__right {
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            margin-left: auto;
            justify-content: space-between;
            
            .cart-overview {
                background-color: $nav-cart-bg-color;
                width: 30%;
                height: 60%;
                display: flex;
                margin-right: 8%;
                align-items: center;
                justify-content: center;
                border-radius: 2px 2px 0px 0px;

                .cart-overview__icon {
                    width: 25%;
                }   

                .cart-overview__count {
                    font-size: 76%;
                    padding-right: 5px;
                    font-weight: 600;
                }
            }

           
        }

        .login-register {
            margin-left: auto;
            font-size: 75%;
            font-weight: 700;

            a {
                padding: 5px;
                cursor: pointer;
                color: $login-register-links-color;
            }

            a:active,
            a:hover {
                transform: scale(1);
                background-color: $nav-active-bg-color;
                color: #fff;
                border-radius: 2px 2px 2px 2px;
            }

            &:first-child {
                margin-right: 16px;
            }
        }

    }

   
}

.cart-overview { }
